.wrapper{
border-bottom: 1px solid rgba(0,0,0,.12);
}
md-card{
  margin-bottom: 10px;
}
.user{
  margin-right: 8px;
}
.star {
  font-size: 1.5rem;
  color: #b0c4de;
}
.filled {
  color: #1e90ff;
}
ngb-rating{
  outline: none;
}
