<md-card *ngIf="isLogin">
  <div class="wrapper" [formGroup]="formReview" #review="ngForm">
    <p>
  <span md-list-icon>
    <img class="user" [src]="'../../../assets/icon/'+ (currentRate < 3 ? 'crying.png': 'happy .png')" alt="">
  </span>Your rating
    </p>
    <ngb-rating [(rate)]="currentRate" max='5'>
      <ng-template let-fill="fill">
        <span class="star" [class.filled]="fill === 100">&#9733;</span>
      </ng-template>
    </ngb-rating>
    <hr>
    <pre>Rate: <b>{{(currentRate)}}</b></pre>
    <p>Your review</p>
    <textarea formControlName="text" class="review" name="review" id="" cols="30" rows="10"></textarea>
    <div class='block-button'>
      <button [disabled]='!isLogin' (click)="sendReview($event, formReview, review.valid)" md-raised-button>Send review</button>
    </div>
  </div>
</md-card>
