<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="wrapper-sing-up">
        <h2 class="title">Sing in</h2>
        <form class="form-sing-up example-form"
              [formGroup]="formSignIn"
              #SignIn="ngForm"
              (submit)="signInUser($event, formSignIn.value, SignIn.valid);"
        >
          <md-input-container class="example-full-width">
            <input mdInput placeholder="User name" (blur)="showError=true"
                   formControlName="name">
            <validation-app class="error" *ngIf="showError"
                            [file]="formSignIn.get('name')">
            </validation-app>
          </md-input-container>
          <md-input-container class="example-full-width">
            <input mdInput placeholder="Password" type="password" (blur)="showError=true"
                   formControlName="password">
            <validation-app class="error" *ngIf="showError"
                            [file]="formSignIn.get('password')"></validation-app>
            <div class="server-error" *ngIf="serverError">
              Username or password invalid!
            </div>
          </md-input-container>
          <div class="btn-group">
            <button type="submit" [disabled]="SignIn.invalid" md-raised-button>Sign in</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

