<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="wrapper-sing-up">
        <h2 class="title">Sing in</h2>
        <div class="form-sing-up example-form">
          <md-input-container class="example-full-width">
            <input mdInput placeholder="Email">
            <!--  <md-error *ngIf="">
                Please enter a valid email address
              </md-error>
              <md-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </md-error>-->
          </md-input-container>
          <md-input-container class="example-full-width">
            <input mdInput placeholder="Password">
            <!--  <md-error *ngIf="">
                Please enter a valid email address
              </md-error>
              <md-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </md-error>-->
          </md-input-container>
          <div class="btn-group">
            <button md-raised-button>Sign in</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

