.wrapper-sing-up{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20vh;
}
.title{
  text-align: center;
  width: 100%;
}
.example-form {
  width: 500px;
}

.example-full-width {
  width: 100%;
}
.btn-group{
  display: flex;
  justify-content: flex-end;
}

