<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="center">Cart</h2>
      <div class="wrapper">
        <ul class="cart">
          <li class="item" *ngFor="let item of productCart">
            <div class="item-wrapper">
              <div class="img">
                <i class="material-icons clear" (click)="clearProduct(item)">remove_circle_outline</i>
                <img class="cart-img" [src]="pathImg + item.poductImg" alt="">
              </div>
              <div class="descriptions">
                <h3>{{item.productTitle}}</h3>
                <div class="body-descriptions">
                  <span class="price-count">{{item.price}}$</span>
                  <div class="cart-amount">
                    <i class="material-icons icon" (click)="removeProduct(item)">remove</i>
                    <input type="text" class="item-count dop" [value]="item.count">
                    <i class="material-icons icon" (click)="addProduct(item)">add</i>
                  </div>
                </div>
              </div>
              <div class="price">
                  <span>Total</span>
                <span class="total">{{item.count * item.price}} $</span>
              </div>
            </div>
          </li>
        </ul>
        <div class="all">
          <div class="all-total">
            <p>All total: <span>{{countTotal}}$</span></p>
            <button md-raised-button>Pay</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

