<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>{{item.title}}</md-card-title>
  <!--  <md-card-subtitle>{{item.title}}</md-card-subtitle>-->
  </md-card-header>
  <img md-card-image [src]='pathImg + item.img'>
  <md-card-content>
    <p>
     {{item.test}}
    </p>
  </md-card-content>
  <md-card-actions>
<!--    <button md-button>LIKE</button>-->
    <button [routerLink]="['/product', item.id]" routerLinkActive="active" md-button>more...</button>
  </md-card-actions>
</md-card>
