.mat-card-image{
  max-width: 250px;
}
img {
  height:210px;
}
.example-card.mat-card{
  max-width: 250px;
}
.link{
  text-decoration: none;
  outline: none;
}
.mat-card-actions{
  display: flex;
  justify-content: space-around;
}
.title{
  display: block;
  margin-bottom: 35px;
}
.img{
  transition: .3s;
}
.img:hover {
  opacity: .7;
}
