<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="wrapper-sing-up">
        <h2 class="title">Sing up</h2>
        <form novalidate class="form-sing-up example-form"
             [formGroup]="formSignUp"
             #registration="ngForm"
             (submit)="signUpUser($event, formSignUp.value, registration.valid);"
        >
<!--(click)="activateCanDeactivated()"-->
            <md-input-container class="example-full-width">
              <input mdInput placeholder="User name"
                     formControlName="name"
                     (blur)="showError=true">
              <validation-app class="error" *ngIf="showError "
                              [file]="formSignUp.get('name')">
              </validation-app>
            </md-input-container>
          <div formGroupName="pass">
            <md-input-container class="example-full-width">
              <input mdInput placeholder="Password"
                     formControlName="password"
                     (blur)="showError=true">
                          <validation-app class="error" *ngIf="showError "
                                          [file]="formSignUp.get('pass.password')">
                          </validation-app>
            </md-input-container>
            <md-input-container class="example-full-width">
              <input mdInput placeholder="Confirm password"
                     formControlName="confirmPassword"
                     (blur)="showError=true">
                          <validation-app class="error" *ngIf="showError "
                                          [file]="formSignUp.get('pass.confirmPassword')">
                          </validation-app>
                          <div class="server-error" *ngIf="serverError">
                            User with such username already exists!
                          </div>
            </md-input-container>
          </div>
          <div class="btn-group">
            <button type="submit" [disabled]="registration.invalid" md-raised-button>Sign Up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



