$color-error: red;
.wrapper-sing-up{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20vh;
}
.title{
  text-align: center;
  width: 100%;
}
.example-form {
  width: 500px;
}

.example-full-width {
  width: 100%;
}
.btn-group{
  display: flex;
  justify-content: flex-end;
}
md-input-container.mat-focused validation-app{
  display: none;
}
.server-error {
  position: absolute;
  top: 60px;
  margin: 0;
  color: $color-error;
}
md-input-container{
  position: relative;
}
.error{
  position: absolute;
  left: 0;
  top: 35px;
  color: $color-error;
}
