.user-nav-link{
  color: #24292e;
}
.link, .link:active, .link:focus{
  font-weight: 600;
  cursor: pointer;
  background: none;
  color: #fff;
  margin: 5px 8px 0;
  text-decoration: none;
  transition: .3s;
}
.link:hover{
  color: #5d5d5d;
}
.link.active{
  color: #5d5d5d;
}
.user-block-icons{
  display: flex;
  align-items: center;
  i {
    margin-left: 10px;
    color: #4a4a4a;
  }
}
.user-name{
  margin-left: 10px;
  margin-top: 2px;
  font-weight:bold;
  color: #f2f2f2;
  &>span {
    color: #4a4a4a;
  }

}
i.logOut{
  transition: .3s;
}
i.logOut:hover{
  cursor: pointer;
  color: #24292e;
}
