<div id="popup" class="pop-up  hide">
  <div class="header">
    <h3>In the cart {{productCart?.length}} products</h3>
    <p class="total">For a total of {{totalCount}} $</p>
  </div>
  <ul class="list">
    <li class="item" *ngFor="let item of productCart">
      <div class="item-container">
        <span class="clear" (click)="delete(item)"><i class="material-icons">clear</i></span>
        <img class="img" [src]="pathImg+item.poductImg" alt="">
        <div class="details">
          <p class="title">{{item.productTitle}}</p>
          <div class="footer-item">
            <span class="price">{{item.price}}$</span>
            <input class="count" type="number" [value]="item.count" #inputCount (change)="changeCount(item.productId ,inputCount.value)" min="1">
            <span class="total">Total {{item.price * item.count}}$</span>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="cart-link">
    <a routerLink="cart"
       routerLinkActive="active"
       toggleClass
       [id]="'popup'"
       class="cart-link link"><i class="material-icons cart">shopping_cart</i> Go to cart</a>
  </div>
</div>
<div class="cover hide" hidePopUpCart>
</div>

